.provider-list .provider__cover { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.provider-list ._item { border: 1px solid; margin: 15px; }
